<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="meteoToken" value="c78010f15cdf619c4f30faab87da0cdd692b293924af766cea02e3d6f9c5a33f"/>
	</appSettings>
</configuration>